*.slo
*.l[ao]
*.[ao]
Makefile
.deps/
.libs/
autom4te.cache/
config.h
config.log
config.status
libtool
stamp-h1
src/*.gcda
src/*.gcno
tests/*.gcda
tests/*.gcno
tests/mactest
tests/check_mac
tests/check_mac.trs
tests/check_mac.log
tests/test-suite.log
coverage.info
coverage.xml
coverage_html/
